# ======================
# MYSQL CONFIG
# ======================
MYSQL_ROOT_PASSWORD=123 # Contraseña para el usuario root de MySQL
MYSQL_DATABASE=chat_db # Nombre de la base de datos
MYSQL_USER=user # Usuario para acceder a la base de datos
MYSQL_PASSWORD=123 # Contraseña para el usuario

# ======================
# DATABASE CONNECTION (API)
# ======================
DB_HOST=db # Host del servidor MySQL
DB_PORT=3306 # Puerto del servidor MySQL
DB_NAME=chat_db # Nombre de la base de datos
DB_USER=user # Usuario para acceder a la base de datos
DB_PASSWORD=123 # Contraseña para el usuario